body {
    
    background-image: url("https://lh3.googleusercontent.com/proxy/aPByhFsPiPVASaQ2usTWRlB6t1wbYLiS2ciNZG4Luz5l54tu-P1SbFDxW9cLjMMitLcbqPxvG13JGJwj04N0MWBWZeFLbC1uhKQmOoocRCCaZjRCb41Hvqh6WN7SgJnw7PoYHUkBLKK_");
    background-size: 1800px 1500px;
    background-repeat: no-repeat;
  }